<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="janeelsmur.justonelock">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:allowClearUserData="true"
        android:stateNotNeeded="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Активность экрана приветствия -->
        <activity android:name=".WelcomeScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Активность при создании новой папки -->
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".CreateFolderActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <!-- Активность при создании новой и редактировании заметки -->
        <activity
            android:name=".NoteActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <!-- Активность при создании нового пароля -->
        <activity
            android:name=".CreatePasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <!-- Активность хранилища -->
        <activity
            android:name=".VaultActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>

        <!-- Активность входа в хранилище -->
        <activity
            android:name=".EnteringActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <!-- Активность при создании нового хранилища -->
        <activity
            android:name=".VaultCreatingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <!-- Активность папки -->
        <activity
            android:name=".FolderActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>

        <!-- Активность пароля -->
        <activity
            android:name=".PasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <!-- Главная активность выбора хранилища -->
        <activity
            android:windowSoftInputMode="stateAlwaysHidden"
            android:name=".MainActivity">
        </activity>

        <!-- Активность входа в Google Drive -->

    </application>

</manifest>